<% include common/header.ejs %>
<!--air-->
<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-record"></span> Audio Streamer <small>realtime to node</small></h1>
    </div>

    <button class="btn btn-primary" id="start-rec-btn">Start Recording</button>
    <button class="btn btn-primary" id="stop-rec-btn">Stop Recording</button>
    <div id="canvas-container">
        <canvas width="600" height="100" id="canvas"></canvas>
    </div>
</div>

<% include common/footer.ejs %>