<% include common/header.ejs %>

<!--Payer-->
<div id="container-online" class="player">
    <div id="audio-player">
        <div id="audio-info">
            <span class="artist"></span> - <span class="title"></span>
        </div>
        <input id="volume" class="marge-volume" type="range" min="0" max="10" value="5" />
        <br>
        <div id="buttons">
		 <span>
			<button id="play-online"></button>
			<button id="pause-online"></button>
			</span>
        </div>
    </div>

</div>

<% include common/footer.ejs %>