<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <label class="footer-text">© 2016 Радио-maker makeownradio.com</label>
        <ul class="nav navbar-nav hidden-xs footer-info-button">
            <li><a href="#">Поміч</a></li>
            <li><a href="#">Про проект</a></li>
        </ul>
    </div>
</nav>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/binary.js"> </script>
<script type="text/javascript"  src="assets/js/re-sampler.js"> </script>
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>